
/* Your CSS Code here. */
*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, sans-serif;
    }

    body{
      background:#f4f7fb;
      display:flex;
      justify-content:center;
      align-items:center;
      height:100vh;
    }

    .container{
      background:white;
      padding:30px;
      width:400px;
      border-radius:12px;
      box-shadow:0 4px 12px rgba(0,0,0,0.15);
    }
 button[type="submit"]{
      background:#4CAF50;
      color:white;
      border:none;
      padding:12px;
      border-radius:8px;
      font-size:16px;
      cursor:pointer;
      transition:0.3s;
    }